%form.form-search{method:'get'}
  .input-append
    %input.span3.search-query{type:'text',name:'query'}
    %button.btn{type:'submit'}
      %i.icon-search
      Search

%table.table.table-striped.table-bordered
  - @definitions.each do |definition|
    %tr
      %td= definition.id
      %td= definition.zh
      %td= definition.len
      %td= definition.en

.well= page_entries_info @definitions
.pagination= will_paginate @definitions
