%form{:action => "/encoding", :method => 'get'}
  %select{:name => :folder}
    - @folders.each do |folder|
      %option{:value => folder}= folder
  %input(type='submit')

- if @encodings
  %table.table.table-striped.table-bordered
    - @encodings.each do |encoding, text|
      %tr
        %td
          %a{:href => "/import?encoding=#{encoding}&filename=#{params[:filename]}"}= encoding
        %td&= p text

- if @filenames
  %table.table.table-striped.table-bordered
    - @filenames.each do |filename|
      %tr
        %td
          %a{:href => "encoding?filename=#{filename}"}= filename
